In [1]:
import pandas as pd

In [3]:
dataset=pd.read_csv("Profit Prediction.csv")

In [4]:
dataset

        Dell        Hp  Barclays       IBM Country        Profit
0    2345.52   9990.88  27192.94  48217.68     USA  7.312252e+06
1    4256.86  11902.22  29104.28  50129.02   India  7.949365e+06
2    6168.20  13813.56  31015.62  52040.36   Spain  8.586478e+06
3    8079.54  15724.90  32926.96  53951.70   China  9.223592e+06
4    9990.88  17636.24  34838.30  55863.04     USA  9.860705e+06
5   11902.22  19547.58  36749.64  57774.38   India  1.049782e+07
6   13813.56  21458.92  38660.98  59685.72   Spain  1.113493e+07
7   15724.90  23370.26  40572.32  61597.06   China  1.177204e+07
8   17636.24  25281.60  42483.66  63508.40     USA  1.240916e+07
9   19547.58  27192.94  44395.00  65419.74   India  1.304627e+07
10  21458.92  29104.28  46306.34  67331.08   Spain  1.368338e+07
11  23370.26  31015.62  48217.68  69242.42   China  1.432050e+07
12  25281.60  32926.96  50129.02  71153.76     USA  1.495761e+07
13  27192.94  34838.30  52040.36  73065.10   India  1.559472e+07
14  29104.28  36749.64  53951.70  74976.44   Spain  1.623184e+07
15  31015.62  38660.98  55863.04  76887.78   China  1.686895e+07

In [21]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [22]:
dataset

,Dell,Hp,Barclays,IBM,Profit,Country_China,Country_India,Country_Spain,Country_USA
0,2345.52,9990.88,27192.94,48217.68,7.312252e+06,False,False,False,True
1,4256.86,11902.22,29104.28,50129.02,7.949365e+06,False,True,False,False
2,6168.20,13813.56,31015.62,52040.36,8.586478e+06,False,False,True,False
3,8079.54,15724.90,32926.96,53951.70,9.223592e+06,True,False,False,False
4,9990.88,17636.24,34838.30,55863.04,9.860705e+06,False,False,False,True
5,11902.22,19547.58,36749.64,57774.38,1.049782e+07,False,True,False,False
6,13813.56,21458.92,38660.98,59685.72,1.113493e+07,False,False,True,False
7,15724.90,23370.26,40572.32,61597.06,1.177204e+07,True,False,False,False
8,17636.24,25281.60,42483.66,63508.40,1.240916e+07,False,False,False,True
9,19547.58,27192.94,44395.00,65419.74,1.304627e+07,False,True,False,False
10,21458.92,29104.28,46306.34,67331.08,1.368338e+07,False,False,True,False
11,23370.26,31015.62,48217.68,69242.42,1.432050e+07,True,False,False,False
12,25281.60,32926.96,50129.02,71153.76,1.495761e+07,False,False,False,True
13,27192.94,34838.30,52040.36,73065.10,1.559472e+07,False,True,False,False
14,29104.28,36749.64,53951.70,74976.44,1.623184e+07,False,False,True,False
15,31015.62,38660.98,55863.04,76887.78,1.686895e+07,True,False,False,False

In [24]:
dataset.columns

Index(['Dell', 'Hp', 'Barclays', 'IBM', 'Profit', 'Country_China',
       'Country_India', 'Country_Spain', 'Country_USA'],
      dtype='object')

In [25]:
Independent=dataset[['Dell', 'Hp', 'Barclays', 'IBM', 'Country_China',
       'Country_India', 'Country_Spain', 'Country_USA']]

In [26]:
Dependent=dataset[["Profit"]]

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Independent, Dependent, test_size=0.30, random_state=0)

In [39]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [40]:
weight=regressor.coef_
weight

array([[ 3.00404717e+06, -1.66079063e+05,  4.46978784e+06,
        -7.30742262e+06,  6.77548621e+00,  6.77235226e+00,
         6.77424301e+00,  6.77689927e+00]])

In [41]:
bias=regressor.intercept_
bias

array([2.25420828e+11])

In [45]:
y_pred=regressor.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

1.0

In [47]:
import pickle
filename="finalized_model_linear.sav"
pickle.dump(regressor,open(filename, 'wb'))

In [48]:
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[12345,456,789,895,789,451,7845,8956]])
result

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[2.594167e+11]])